Source: i2p.plugins.tor-manager
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: idk <hankhill19580@gmail.com>
Section: golang
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any,
               golang-github-cloudfoundry-jibber-jabber-dev,
               golang-github-mitchellh-go-ps-dev,
               golang-github-russross-blackfriday-dev,
               golang-github-ulikunitz-xz-dev,
               golang-golang-x-crypto-dev
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/i2p.plugins.tor-manager
Vcs-Git: https://salsa.debian.org/go-team/packages/i2p.plugins.tor-manager.git
Homepage: https://eyedeekay.github.io/i2p.plugins.tor-manager
Rules-Requires-Root: no
XS-Go-Import-Path: i2pgit.org/idk/i2p.plugins.tor-manager

Package: i2p.plugins.tor-manager
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: Downloads and manages a Tor Browser, also configures TB for I2P
A Tor Browser Bundle Manager which manages the Tor Browser in the working
 directory by default or in a user-specified directory if specified. Also able
 to configure Tor Browser to use I2P automatically and manage a background Tor
 process longer than the lifetime of the Tor Browser, systemwide.
